@font-face {
    font-family: tf2-build;
    src: url(./fonts/tf2build.ttf);
}

:root{
    font-size: 16px;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-wrapper{
    flex: 3;
    display: flex;
    flex-direction: column;
    background: url("./images/mutsuki.png") center / contain;
    position: relative;
    justify-content: center;
}

.splash-text{
    white-space: pre-line;
    font-family: tf2-build, Roboto, Calibri, sans-serif;
    font-size: 3.5rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

.credit-text{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.form-wrapper{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    gap: 20px;
    min-height: 93vh;
}

.introduction{
    font-family: "Arial Bold", Calibri, Helvetica, Roboto, sans-serif;
    font-size: 1.25rem;
    padding: 20px calc(15% + 20px);
}

form section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    color: grey;
}

form button{
    background-color: green;
    color: white;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 20px;
}

form input:invalid{
    border-color: red;
}

form input:focus{
    border-color: limegreen;
}

.after-form{
    color: darkslategrey;
}