:root{
    font-size: 16px;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-wrapper{
    flex: 3;
}

.form-wrapper{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    gap: 20px;
}

.introduction{
    padding: 0px 30px;
    font-size: 1.25rem;
}

form section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    color: grey;
}

form button{
    background-color: green;
    color: white;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 20px;
}

.after-form{
    color: darkslategrey;
}